body {
    margin: 0;
    padding: 0;
}

.admin_main_container{
    position:absolute;
    width:100%;
    overflow:auto;
    bottom:0px;
    top:60px;
    _height:100%;

    _top:0px;
    z-index:90;
}
