.admin_film_table{
    width: 100%;
    height: 100%;
}
.admin_film_table_content{
    width: 100%;
    height: 90%;
    overflow: auto;
    word-wrap:break-word;
}
.admin_film_table_foot{
    width: 100%;
    height: 10%;
    text-align: center;
}