html,
　　　　body {
　　　　　　　　height: 100%
　　　　}

p {text-align:center; color:red;}


.table_chooseseats {
    margin:2px auto;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
    onselectstart:return false;
    unselectable:0;
}

#tab_chooseseats
.call {
    padding:3px 15px 3px;
    width:6px;
    height:5px;
    background-color:#11EE96;
}

#tab_chooseseats
.curr {
    padding:3px 15px 3px;
    width:6px;
    height:5px;
    background-color:#000000;
}
