#container{
    /*height: 900px;*/
    width:1200px;
    margin:80px auto;

}

#film_show{
    height: 376px;
    background:  radial-gradient(circle at 500px -1000px, indianred 5%, #392f59);
}
#nav{
    height: 376px;
    width: 1200px;
    margin: 0 auto;
}
#nav_img{
    height: 370px;
    width: 300px;
    float: left;
    position: relative;
    top: 70px;
}
#poster_shadow{
    position: relative;
    margin: 0 30px;
    width: 240px;
    height: 330px;
    padding-bottom: 40px;

}
#poster{
    height: 322px;
    width: 232px;
    border: 4px solid white;
    margin: 0 auto;
}
#nav_text{
    height: 300px;
    width: 870px;
    margin-right: 30px;
    margin-left: 300px;
    top: 70px;
    position: relative;
}
.name{

    color: #fff;
    margin: .67em 0;
    width: 900px;
    margin-top: 0;
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 64px;
}
#film_info{
    width: 340px;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 12px;
    color: #ffffff;
}
.ellipsis{
    margin: 12px 0;
    line-height: 100%;
}
.action_btn{
    position: absolute;
    bottom: 20px;
}
.clearfix{
    font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    height: 80px;
    margin-top: 30px;
}
.wish{
    cursor: pointer;
    float: left;
    display: block;
    width: 120px;
    height: 25px;
    background-color: #756189;
    margin-right: 10px;
    padding-top: 11px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    border-radius: 2px;
}
.wish.a:visited{color: #ffffff}
.msg{
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}
.score_btn{
    cursor: pointer;
    float: left;
    display: block;
    width: 120px;
    height: 25px;
    background-color: #756189;
    margin-right: 10px;
    padding-top: 11px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    border-radius: 2px;

}
.score_btn.a:visited{color: #ffffff}

.btn_buy.a:visited{
    color: #ffffff;}
.movie_stars_nav{
    position: absolute;
    top: 220px;
    left: 342px;
}
.movie_index{
    margin-bottom: 16px;
    color: #fff;
}
.movie_index_title{
    font-size: 12px;
    margin-bottom: 8px;
}
.movie_index_content{
    overflow: hidden;
}
.left_score{
    font-size: 20px;
    color: #9c87b8;
    color: hsla(0,0%,100%,.4);
    height: 30px;
    line-height: 30px;
    float: left;
}
.right_index{
    margin-top: 10px;
    margin-left: 54px;
    font-size: 12px;
}
.score_num{

    font-size: 12px;
    color: #ffc600;
}
#container{
    /*height: 900px;*/
    width:1200px;
    margin:80px auto;
}
#container_main{
    margin-top: 80px;
}
#main_content{
    font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    width: 1200px;
}
#filmDetail{
    font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;

}
.module{
    font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-bottom: 60px;
    position: relative;
}
.mod_title{
    font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}
.mod_title_before{
    float: left;
    content: "";
    display: inline-block;
    width: 4px;
    height: 18px;
    margin-right: 6px;
    background-color: #ef4238;
}
.mod_title_text{
    font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    color: #333;
    line-height: 18px;
}
.mod_content{
    margin-top: 20px;
    color: #333;
}




.footer{
    background-color: #262426;
    /*padding: 56px 0;*/
    margin: 0 auto;
    width: 100%;
    height: 300px;
    /*z-index: 90;*/
    /*position: absolute;*/
    /*bottom: 0px;*/
}
.friendly-links{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    color: white;
}

.friendly-links-credentials{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    color: white;
}
.certificate{
    margin-top: 20px;
    padding: 0;
    text-align: center;
}