a:link {color:red}
a:visited{color: red}
a:hover{text-underline: red}
a:active{color: red}

table{
    height: 90%;
    width: 70%;
    margin:0 auto;

}
table,td{
    border: 1px solid red;
    border-collapse: collapse;
    text-align: center;
}
#main_body{
    width:1903px;
    height:auto;
    margin:0 auto;
    position: relative;
}
#theader{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    background: white;
    border: 1px solid lightgray;


}
#aside{
    /*border: 1px solid red;*/
    height: 1155px;
    width: 360px;
    float: right;
    margin-right:12%;
    margin-top: 5%;
    padding-bottom: 400px;
}

#film_rank{
    /*border: 1px solid black;*/
    height: 45%;
    width: 360px;
}
.first{
    border:1px solid lightgray;
    height: 100px;
    width: 360px;


}
.first_pic{
    width: 150px;
    height: 100px;
    float: left;
}
.first_content{
    font-size: 18px;
    color: #0C0C0C;
    margin-left: 170px;
    margin-top: 20px;
    text-align: left;
}
.first_booking{
    font-size: 15px;
    color: #ef4238;
    margin-top: 20px;
    margin-left: 170px;
    text-align: left;
}
.after{
    height: 80px;
    width: 360px;
    margin-top: 1px;
    float: left;
}
.after_num1{
    line-height :80px;
    height: 80px;
    width: 20px;
    color: #ef4238 ;
    text-align: center;
    float: left;
    font-style: italic;
}
.after_num2{
    line-height :80px;
    height: 80px;
    width: 20px;
    color: #999;
    font-style: italic;
    float: left;
    font-size: 14px;
}
.after_name{
    line-height: 80px;
    height: 80px;
    width: 200px;
    color: black;
    font-size: 20px;
    text-align: left;
    float: left;
    margin-left:15px;
}
.after_booking{
    /*border: 1px solid red;*/
    line-height: 80px;
    height: 80px;
    width: 100px;
    color:  #ef4238;
    font-size: 15px;
    text-align: right;
    float: right;
}
#film_favourite{
    /*border: 1px solid black;*/
    margin-top:25%;
    height: 45%;
    width: 360px;
}

#favourite_content{
    height: 1000px;
    /*border: 1px solid red;*/
    width: 360px;
}
.first1{
    height: 200px;
    width: 360px;
    border: 1px solid lightgray;
}
#first1_pic{
    height: 200px;
    width: 40%;
    /*border: 1px solid black;*/
    float: left;
}
#first1_content{
    height: 60px;
    width: 58%;
    /*border: 1px solid black;*/
    float: left;
    font-size: 25px;
    color: black;
    line-height: 60px;
    text-align: center;
}
#first1_time{
    height: 60px;
    width: 58%;
    /*border: 1px solid black;*/
    float: left;
    font-size: 14px;
    text-align: center;
    color: #999;
    line-height: 60px;
}
#first1_booking{
    height: 60px;
    width: 58%;
    /*border: 1px solid black;*/
    float: left;
    text-align: center;
    line-height: 60px;
    color: orange;
    font-size: 14px;
}
.first2{
    height: 180px;
    width: 360px;
    /*border: 1px solid red;*/
    margin-top: 15px;

}
.first2_left{
    height: 180px;
    width: 170px;
    float: left;
    border: 1px solid lightgray;
}

.first2_pic{
    height: 100px;
    width: 100%;
    /*border: 1px solid blue;*/
    float: left;
}
.first2_content{
    height: 40px;
    width: 100%;
    /*border: 1px solid red;*/
    float: left;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: black;

}
.first2_booking{
    height: 30px;
    width: 100%;
    /*border: 1px solid red;*/
    float: left;
    font-size:12px;
    line-height: 30px;
    text-align: center;
    color: orange;
}
.first2_right{
    height: 180px;
    width: 170px;
    border: 1px solid lightgray;
    /*margin-top: 15px;*/
    float: right;

}

#film_pic{
    width: 75%;
    height:500px;
    border: 1px solid green;
    margin: 0 auto;
    margin-top: 6%;

}
#main{
    padding-bottom: 400px;
}
.show {
    border: 1px solid red;
    margin-left: 20%;
    margin-bottom: 5px;
    width: 60%;
    height: 30px;

}
#film_hot{
    width: 70%;
    height: 100%;
    margin-top: 5%;

}
#film_updating{
    width: 70%;
    height: 100%;
    margin-top: 5%;
    padding-bottom: 800px;
}
.film_img{
    height:200px;
    width: 80%;
    border: 1px solid green;
}
.buyTickets{
    height: 30px;
    width: 80%;
    color: red;
    background: white;
    border: 1px solid blue;
    text-align: center;
}


.footer{
    background-color: #262426;
    padding: 56px 0;
    margin: 0 auto;
    width: 1903px;
    height: 300px;
    bottom: 0;
    position: absolute;
}



.friendly-links{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    color: white;
}



.friendly-links-credentials{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    color: white;
}
.certificate{
    margin-top: 20px!important;
    margin: 0;
    padding: 0;
    text-align: center;
}