body {
    margin: 0;
    padding: 0;
}

.icon_order_pay{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../image/order_icon_pay.svg");
    background-position: center center;
    background-size: contain;
}

.span_order_pay{
    font-weight: 900;
    font-size: 28px;
    font-family: 黑体;
    color: #f8c90d;
}
.span_order_time{
    color: darkgray;
    position: relative;
    left: -160px;
}

.main_container_middle_table{
    width: 100%;
    border: 1px solid lightgrey;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}
.main_container_middle_table thead{
    background: rgba(238,238,238,0.7);
}
tr{
    height: 50px;
}
td{
    word-wrap: break-word;
}

.main_container{
    width: 1200px;
    height: 700px;
    margin: 0px auto;
}

.main_container_top{
    width: 100%;
    height: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 35px 0px 35px 35px;
    box-sizing: border-box;
    line-height: 50px;
    background: rgba(248,239,130,0.15);
}

.main_container_top_icon{
    width: 50px;
    height: 50px;
    float: left;
}
.main_container_top_bpay{
    width: 100px;
    height: 28px;
    margin-left: 10px;
    float: left;
    line-height: 30px;
}
.main_container_top_xtime{
    width: 400px;
    height: 18px;
    line-height: 18px;
    position: relative;
    left: 60px;
    top: 34px;
}

.main_container_middle{
    width: 100%;
    margin-bottom: 40px;
}

.main_container_middle_top{
    width: 100%;
}
.main_container_middle_top_left{
    width: 50%;
    float: left;
}
.main_container_middle_top_right{
    width: 50%;
    float: left;
    font-size: 13px;
    color: gray;
    text-align: right;
}

.main_container_middle_foot{
    margin-top: 30px;
    width: 100%;
}

.main_container_middle_foot_left{
    margin: 20px;
    width: 200px;
    float: left;
}

.main_container_middle_foot_right{
    margin: 20px;
    width: 200px;
    float: right;
}

.order_submit_button{
    font-family: 黑体;
    font-size: 16px;
    width: 200px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 14px 32px;
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid #FF5722;
    border-radius:50px;
    box-shadow: 5px 5px 20px #d0d1d2;
    outline: none;
    cursor: pointer;
}
.order_submit_button:hover{
    background-color: #FF5722;
    color: white;
}